.portfolio{
    background-image:linear-gradient(180deg,#ffe0b2,#ffcc80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:800px;
  }
