@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: linen;
    color:#df5d00be;
    position: fixed;
    top: 0;
    z-index: 2;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items:center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items:center;

        .logo{
            font-size: 40px;
            font-weight: 500;
            text-decoration: none;
            color: inherit;
            margin-right: 40px;
            }

        .itemContainer{
            display: flex;
            align-items: center;
            margin-left: 30px;
        }
        }
    }
}