.intro {
        background-image:linear-gradient(180deg,linen,#ffe0b2);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height:800px;
        display:flex;

        .left{
            flex: 0.5;
            overflow: hidden;

            .imgContainer{
                width: 500px;
                height: 500px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                float: right;
            }

            img{
                height: 70%;
            }
        }

        .right{
            flex: 0.5;
            position: relative;

            .wrapper{
                width: 60%;
                height: 100%;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1{
                    font-size: 40px;
                    margin: 10px 0;
                }

                h2{
                    font-size: 35px;
                }
        }
    }
}